*{
    margin: 5px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(70, 189, 236);
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(231, 88, 231);
    width: 300px;
    height: 300px;
    border-radius: 8px;
    border: 0px;
}

h2{
    color: aliceblue;
}

input{
    padding: 8px;
    border-radius: 4px;
    border: 0px;
    font: bolder;
}

button{
    width: 80px;
    height: 25px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 4px;
    border: 1px;
}

button:hover{
    background-color: rgb(66, 0, 128);
    color: aliceblue;
    cursor: pointer;
}

#forget{
    display: flex;
}

p{
    color: aliceblue;
    font-size: 12px;
}

a{
    color: orange;
    text-decoration: flex;

}

a:hover{
    color: rgb(204, 143, 29);
    font-size: 12px;
}